.contract-av{
  width: 30px;
}

.std-p, .p-sm {
  padding-right: 7.5px!important;
  padding-left: 7.5px!important;
}

.p-m {
  padding: 12px!important;
}

.height-all{
  height: 100%;
}

.p-y-md, .p-t-md{
  padding-top: .75rem!important;
  
}

.p-b-md, .p-y-md {
  padding-bottom: .75rem!important;
}



.clr-blk {
  color: #1E2022!important;
}

.foriegn-label {
  display: inline-block;
  background-color: rgba(119,131,143,.1);
  font-weight: 500;
  line-height: 1.3;
  color: #1e2022!important;
  padding-left: .75rem!important;
  padding-right: .75rem!important;
  padding-bottom: .25rem!important;
  padding-top: .25rem!important;
  border-radius: .25rem!important;
  text-align: left;
  font-size: .71094rem;
}

.ft-13{
  font-size: 13px!important;
}

.card-title {
  font-size: .8125rem;
  font-weight: 600;
  margin-bottom: 0;
}

.b-btm-line {
  border: 0;
  border-bottom: 1px solid #e7eaf3;
  opacity: .75;
}

.green{
  color: #00c9a7!important
}

.w-100{
  width: 100%;
}

.grey-soft-bg{
  background-color: #f8f9fa!important;
}

.pill-nav-grey{
  // background-color: #77838f;
  border-color: transparent!important;
  margin-left: 3px!important;
  margin-right: 3px!important;
  border-radius: .125rem!important;
  border: 1px solid #d5dae2!important;
  font-size: .8125rem!important;
}

.pill-nav-grey:active {
  background-color: #77838f;
  color: white!important;
  
}

.selected-pill{

}

.mono-txt{
  font-family: 'Courier Prime', monospace !important;
}

.query-btn{
  cursor: pointer!important;
  border: 1px solid #dee2e6!important;
  color: #212529!important;
  background-color: #f8f9fa!important;
  display: inline-block!important;
  font-weight: 400!important;
  padding: 4.85px 9.75px!important;
  font-size: 1rem!important;
  font-size: 1rem!important;
  line-height: 1.5!important;
  border-radius: .25rem!important;
  margin-top: .6rem!important;
  margin-bottom: .6rem!important;
  font-size: 13px!important;
}

.down-arrow {
  width: 15px!important;
  color: #121416!important;
}

.red {
  color: #dc3545!important;
}

