

#demo-user-btn {
  padding: 10px;
  font-size: 13px;
  margin: 20px;
}

.session-form-header p {
  color: #6c757e;
}

label {
  font-size: 13px!important;
}

p {
  font-size: 13px;
}

.std-ft-size {
  font-size: 13px;
}

// .std-ft-size .container {
//   max-width: 500px;
// }

// .std-ft-size .container .row {
//   max-width: 500px;
// }

.ft-gry {
  color: #6c757e;
}

.session-form-container{
  max-width: 500px;
  min-width: 450px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  // font-size: 13px;
}

.session-form-container h3 {
  font-size: 1.42188rem;
  color: #3498db!important;
  font-weight: 400;
}



.session-form-container h3 span {
  font-weight: 600;
}


